aiohappyeyeballs==2.4.3
aiohttp==3.10.10
attrs==24.2.0
bitsandbytes==0.44.1
cryptography==43.0.3
datasets==3.1.0
dill==0.3.8
faiss-cpu==1.9.0
frozenlist==1.5.0
multidict==6.1.0
multiprocess==0.70.16
propcache==0.2.0
pyarrow==18.0.0
pycryptodome==3.21.0
sacremoses==0.1.1
sentence-transformers==3.2.1
xxhash==3.5.0
yarl==1.17.1